<mat-toolbar>
  <span>Mobiscroll POC</span>
</mat-toolbar>

<div class='flex flex-col lg:flex-row'>
  <div class='lg:w-1/2 flex flex-col space-y-4 p-4'>
    <mat-form-field (click)='openPicker("start")'>
      <mat-label>Start date</mat-label>
      <input type='text' matInput [formControl]='startDateFormControl' placeholder='Start input'>
    </mat-form-field>
    <mat-form-field (click)='openPicker("end")'>
      <mat-label>End date</mat-label>
      <input type='text' matInput [formControl]='endDateFormControl' placeholder='End input'>
    </mat-form-field>
    <app-datetime-picker (onValueChange)='onValueChange($event)'></app-datetime-picker>
  </div>
</div>
