/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@mobiscroll/angular/dist/css/mobiscroll";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color-50:#ffffff;
  --primary-color-100:#ffffff;
  --primary-color-200:#ffffff;
  --primary-color-250:#ececec;
  --primary-color-300:#757575;
  --primary-color-400:#ececec;
  --primary-color-500:#ffffff;
  --primary-color-600:#888888;
  --primary-color-700:#636363;
  --primary-color-800:#ECECEC;
  --primary-color-900:#d8d8d8;
  --primary-color-1000:#eb1000;
  --accent-text-color:var(--accent-color-500);
  --accent-background-color:var(--accent-color-500);
  --primary-color-contrast-950:#121212;
  --primary-color-contrast-900:#121212;
  --primary-color-contrast-800:#121212;
  --primary-color-contrast-700:#121212;
  --primary-color-contrast-600:#121212;
  --primary-color-contrast-500:#121212;
  --primary-color-contrast-400:#121212;
  --primary-color-contrast-300:#121212;
  --primary-color-contrast-200:#121212;
  --primary-color-contrast-100:#121212;
  --text-extra-small:14px;
  --text-small:16px;
  --text-medium:18px;
  --text-large:24px;
  --text-extra-large:32px;
  --accent-color-50:#b7dcf9;
  --accent-color-contrast-950:#121212;
  --secondary-accent-color-50:#ffe8d5;
  --secondary-accent-color-contrast-950:#121212;
  --accent-color-100:#9fd1f7;
  --accent-color-contrast-900:#121212;
  --secondary-accent-color-100:#ffdabc;
  --secondary-accent-color-contrast-900:#121212;
  --accent-color-200:#70baf3;
  --accent-color-contrast-800:#121212;
  --secondary-accent-color-200:#ffbe89;
  --secondary-accent-color-contrast-800:#121212;
  --accent-color-300:#41a3ef;
  --accent-color-contrast-700:#121212;
  --secondary-accent-color-300:#ffa256;
  --secondary-accent-color-contrast-700:#121212;
  --accent-color-400:#148ce9;
  --accent-color-contrast-600:#121212;
  --secondary-accent-color-400:#ff8623;
  --secondary-accent-color-contrast-600:#121212;
  --accent-color-500:#1070ba;
  --accent-color-contrast-500:#f2f2f2;
  --secondary-accent-color-500:#ef6c00;
  --secondary-accent-color-contrast-500:#121212;
  --accent-color-600:#0e65a7;
  --accent-color-contrast-400:#f2f2f2;
  --secondary-accent-color-600:#db6300;
  --secondary-accent-color-contrast-400:#121212;
  --accent-color-700:#0d5994;
  --accent-color-contrast-300:#f2f2f2;
  --secondary-accent-color-700:#c65a00;
  --secondary-accent-color-contrast-300:#000000;
  --accent-color-800:#0b4e82;
  --accent-color-contrast-200:#f2f2f2;
  --secondary-accent-color-800:#b25000;
  --secondary-accent-color-contrast-200:#f2f2f2;
  --accent-color-900:#0a436f;
  --accent-color-contrast-100:#f2f2f2;
  --secondary-accent-color-900:#9d4700;
  --secondary-accent-color-contrast-100:#f2f2f2;
  --color-10-contrast:#121212;
  --color-10:#DCA937;
  --color-2-contrast:#121212;
  --color-2:#EF6C00;
  --color-3-contrast:#121212;
  --color-3:#FFC900;
  --color-4-contrast:#f2f2f2;
  --color-4:#8E4106;
  --color-5-contrast:#ffffff;
  --color-5:#0A852D;
  --color-1-contrast:#000000;
  --color-1:#EB1000;
  --color-6-contrast:#f2f2f2;
  --color-6:#197986;
  --color-7-contrast:#f2f2f2;
  --color-7:#0F70BB;
  --color-8-contrast:#f2f2f2;
  --color-8:#6F51D1;
  --color-9-contrast:#121212;
  --color-9:#D647BF;
}

